{% extends "base_generic.html" %}

{% block content %}
<h1 class="h5">Details of pair: {{ pair.id }}</h1>
<p>Male named: <a href="{% url 'breeding:falcon-detail' pair.male.id %}">{{ pair.male.name }}</a> with ring no.:
    {{ pair.male.ring }}</br>
    Female named: <a href="{% url 'breeding:falcon-detail' pair.female.id %}">{{ pair.female.name }}</a> with
    ring no.:
    {{ pair.female.ring }}</p>
{% if pair.offspring %}
<h1 class="h7">Offspring:</h1>
<ul>
    {% for young in pair.offspring %}
    <li>
        Falcon named: <a href="{% url 'breeding:falcon-detail' young.id %}">{{ young.name }}</a> with
        ring no.:
        {{ young.ring }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Pair produced no offspring yet</p>
{% endif %}
<div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'breeding:pair-update' object.id %}">Update</a>
    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'breeding:pair-delete' object.id %}">Delete</a>
</div>
{% endblock %}