{% extends "base_generic.html" %}

{% block content %}
{% if object_list %}
<ul>
    {% for pair in object_list %}
    <li>
        <h4>Pair number: <a href="{% url 'breeding:pair-detail' pair.id %}">{{ pair.number }}</a></h4>
        <p>Male named: <a href="{% url 'breeding:falcon-detail' pair.male.id %}">{{ pair.male.name }}</a> with ring no.:
            {{ pair.male.ring }}</br>
            Female named: <a href="{% url 'breeding:falcon-detail' pair.female.id %}">{{ pair.female.name }}</a> with
            ring no.:
            {{ pair.female.ring }}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No records to show</p>
{% endif %}
{% endblock %}