<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Falcon manager</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'breeding/css/styles.css' %}">
</head>
<body>
    <header class="header">
        <h1>Falcon breeding project manager</h1>
    </header>
    <nav class="nav">
        {% block nav %}
            <ul>
                <li><a href="{% url 'breeding:falcons' %}">List of all falcons</a></li>
                <li><a href="{% url 'breeding:falcon-create' %}">Add a new falcon</a></li>
            </ul>
        {% endblock %}
    </nav>
    <main class="main">
        {% block content %}{% endblock %}
        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </span>
                        {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endblock %} 
    </main>
    <footer class="footer">
        {% block footer %}
        {% endblock %}
    </footer>
</body>
</html>
