{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Additional CSS -->
    <link rel="stylesheet" href="{% static 'breeding/css/styles.css' %}">
    {% if title %}
    <title>Falcon manager - {{ title }}</title>
    {% else %}
    <title>Falcon manager</title>
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="{% url 'breeding:index' %}">Falcon manager</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"
            data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav flex-row px-3">
            {% if user.is_authenticated %}
            <li class="nav-item text-nowrap">
                <a class="nav-link ml-2 mr-2" href="{% url 'users:profile' %}">Profile</a>
            </li>
            <li class="nav-item text-nowrap"></li>
            <a class="nav-link ml-2 mr-2" href="{% url 'users:logout' %}">Log out</a>
            </li>
            {% else %}
            <li class="nav-item text-nowrap">
                <a class="nav-link ml-2 mr-2" href="{% url 'users:login' %}">Log in</a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link ml-2 mr-2" href="{% url 'users:register' %}">Sign up</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {% block nav %}
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'breeding:falcons' %}">
                                <span data-feather="file-text"></span>
                                List of all falcons
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'breeding:falcon-create' %}">
                                <span data-feather="file"></span>
                                Add a new falcon
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'breeding:pairs' %}">
                                <span data-feather="copy"></span>
                                List of all pairs
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'breeding:pair-create' %}">
                                <span data-feather="heart"></span>
                                Add a new pair
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'breeding:aviaries' %}">
                                <span data-feather="home"></span>
                                Aviaries
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'breeding:offices' %}">
                                <span data-feather="home"></span>
                                Offices
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'breeding:docs' %}">
                                <span data-feather="clipboard"></span>
                                Documents
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            {% endblock %}

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{ title }}</h1>
                </div>

                {% if messages %}
                {% for message in messages %}
                <div>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}

                <div class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
                    {% block content %}{% endblock %}
                </div>

                {% block pagination %}
                {% if is_paginated %}

                {% if page_obj.has_previous %}
                <a class="btn btn-outline-info md-4" href="{{ request.path }}?page=1">First</a>
                <a class="btn btn-outline-info md-4"
                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <a class="btn btn-info md-4" href="{{ request.path }}?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info md-4" href="{{ request.path }}?page={{ num }}">{{ num }}</a>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <a class="btn btn-outline-info md-4"
                    href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-info md-4"
                    href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}

                {% endif %}
                {% endblock %}
            </main>
        </div>
    </div>
    <!-- Bootstrap JS scripts - jQuery, Popper.js, Bootstrap.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>

    <script>
        feather.replace();
    </script>

</body>

</html>